$ms-base: 1em;
$ms-ratio: 1.3;

$red: #be0000;
$black: #333;
$black-dark: #111;

@import url('https://fonts.googleapis.com/css?family=Kalam');

$body-font: 'Lato';
$heading-font: 'Kalam', cursive;
$cursive-font: $heading-font;
