.clearfix {@include clearfix;}
.container {@include outer-container;}

@media screen and (min-width: 650px){
	.g-1_6 {@include span-columns(2);}
	.g-1_4 {@include span-columns(3);}
	.g-1_3 {@include span-columns(4);}
	.g-1_2 {@include span-columns(6);}
	.g-2_3 {@include span-columns(8);}
	.g-3_4 {@include span-columns(9);}
	.g-omega {@include omega();}
	.g-shift-1 {@include shift(1);}
	.g-shift-2 {@include shift(2);}
	.g-shift-3 {@include shift(3);}
	.g-shift-4 {@include shift(4);}
	.g-shift-5 {@include shift(5);}
	.g-shift-6 {@include shift(6);}
	.g-shift-7 {@include shift(7);}
	.g-shift-8 {@include shift(8);}
	.g-shift-9 {@include shift(9);}
	.g-shift-10 {@include shift(10);}
	.g-shift-11 {@include shift(11);}
}

.inline {display: inline;}
.inline-block {display: inline-block;}
.block {display: block;}
.u-left {float: left}
.u-right {float: right}
.u-block {display: block}
.u-centered {margin-left: auto; margin-right: auto} // requires a width class
