// Participate pages sprite

.participate-1 {
	width: 100px;
	height: 100px;
	background: url(/img/participate.png) 0 0;
}

.participate-2 {
	width: 100px;
	height: 100px;
	background: url(/img/participate.png) 100px 0;
}

.participate-3 {
	width: 100px;
	height: 100px;
	background: url(/img/participate.png) 200px 0;
}

.participate-4 {
	width: 100px;
	height: 100px;
	background: url(/img/participate.png) 300px 0;
}
